.jscolor {
	width: 20px;
	cursor: pointer;
}
.gradient {
	width: 100%;
	margin: 2px;
}
#control_panel {
	display: flex;
}
#input_control {
	width: 74%;
}
#counts {
	margin-left: 2%;
	width: 50%;
}
.count_box {
	margin-left: 2px;
	width: inherit;
	border: 1px solid #000;
	display: flex;
	margin-bottom: -1px;
}
.annotationoptions {
	width: inherit;
	display: flex;
	border: 1px solid #000;
	margin-bottom: -1px;
}
.annotationinput {
	width:50%;
	margin: -1px;
	margin-right: 0px;
	border: 1px solid #000;
}
.annotation-right {
	margin-left: -1px;
	margin-right: -1px;
}
.coverageinput {
	margin-left: 2px;
	width:33%
}
.select_gff {
	margin-left: 2px;
	width: 75%
}
.gff_color {
	margin-left:10%;
}
.gradientinput {
	display: flex;
	width:34%
}
.optioninput {
	margin-left: 5%;
	width:33%
}
.colortable {
	display: flex;
	border: 1px solid #000;
	margin-bottom: -1px;
}
.mono {
	font-family: monospace;
  font-size: 22px;
}

.serif {
  font-family: serif;
  font-size: 18px;
}
.select-top {
  border-top:2px solid #000;
}

.select-left {
    border-left:2px solid #000;
}

.select-right {
  border-right:2px solid #000;
}

.select-bottom {
  border-bottom:2px solid #000;
}

.position_number {
  font-family: monospace;
  font-size: 12px;
  text-align: right;
	line-height: 15px;
	margin-bottom: 4px;
}

.outer {
	float: left;
	line-height: 30px;
	vertical-align: top;
}
.letters {
	display: flex;
	margin-top:-3px !important;
	line-height: 20px;
}
.letter {
	display: flex;
	margin-top:-3px !important;
	line-height: 20px;
}

span.structural_annotation { border-top:3px solid; }

span.annotation { border-bottom:3px solid; }

span.annotation span.annotation { padding-bottom:4px; }

span.annotation span.annotation span.annotation { padding-bottom:8px; }

span.annotation span.annotation span.annotation span.annotation { padding-bottom:11px; }

.letter {
    position: relative;
    display: inline-block;
}

.letter .tooltiptext {
		font-size: 12px;
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
    opacity: 0;
    transition: opacity 0.3s;
}

.letter .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.letter:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
